<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head/meta") %> 
        <%- include("partials/head/css") %> 
        <%- include("partials/head/title", { subtitle: "500" }) %> 

    </head>
    <body>
        <%- include("partials/header") %> 

        <main>
            <h1>Le serveur a rencontré un problème inattendu</h1>
            <a href="/">Retour à l'accueil</a>
        </main>

        <%- include("partials/footer") %>
    </body>
</html>