<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head/meta") %> 
    <%- include("partials/head/css") %> 
    <%- include("partials/head/title", { subtitle: "Accueil" }) %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <h1>Liste des dresseurs</h1>
        <ul>
            <li>Sasha</li>
            <li>Ondine</li>
            <li>Pierre</li>
        </ul>
    </main>

    <%- include("partials/footer") %> 
</body>
</html>
