<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head/meta") %> 
    <%- include("partials/head/css") %> 
    <%- include("partials/head/title", { subtitle: "Accueil" }) %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <h1>Bienvenue sur le Pokedex !</h1>
        <div>
            <p>Ce site est en cours de construction : actuellement la liste des Pokemons de première génération est disponible dans la rubrique <a href="/pokemons">Pokemons</a>.</p>
            <p>Il a été conçu "mobile first". Alors, jeune dresseur, n'hésite pas à le consulter sur ton smartphone !</p>
        </div>  
    </main>

    <%- include("partials/footer") %> 
</body>
</html>
