<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head/meta") %> 
    <%- include("partials/head/css") %> 
    <%- include("partials/head/title", { subtitle: `${pokemon.nom}` }) %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <div class="main-container">
            <section id="pokemon-details-container">
                <div id="pokemon-header-container">
                    <h2><%= pokemon.nom%></h2>
                    <p>#<%=pokemon.id%></p>
                </div>
                <div id="img-and-stats-container">
                    <img src="/images/<%=pokemon.id%>.png" alt="<%=pokemon.nom%>">
                    <div id="stats-container">
                        <h3 id="stats-head-title">Statistiques</h3>
                    </div>
                </div>
            </section>
            <div id="return-link-container">
                <a href="/pokemons"><< Retour à la listes des Pokemons</a>
            </div>
        </div>
    </main>

    <%- include("partials/footer") %> 
</body>
</html>
