<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head/meta") %> 
    <%- include("partials/head/css") %> 
    <%- include("partials/head/title", { subtitle: "Tous les Pokemons !" }) %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <h2><strong>Liste des Pokemons</strong> - 1ère génération</h2>
        <section id="pokemons-list-container">
            <article class="pokemon-card">
                <div class="pokemon-card-header">
                    <h3>Bulbizarre</h3>
                    <p>#001</p>
                </div>
                <img src="/images/1.png" alt="Bulbizarre" class="pokemon-card-img">
                <button class="button-details-pokemon">
                    <a href="#">En savoir +</a>
                </button>
            </article>

            <article class="pokemon-card">
            </article>

            <article class="pokemon-card">
            </article>

            <article class="pokemon-card">
            </article>

            <article class="pokemon-card">
            </article>

            <article class="pokemon-card">
            </article>

            <article class="pokemon-card">
            </article>
        </section>
    </main>

    <%- include("partials/footer") %> 
</body>
</html>
