<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head/meta") %> 
    <%- include("partials/head/css") %> 
    <%- include("partials/head/title", { subtitle: `${pokemon.nom}` }) %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <section id="pokemon-details-container">Ici sera le détail du Pokemon : <%=pokemon.nom%></section>
    </main>

    <%- include("partials/footer") %> 
</body>
</html>
