<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head/meta") %> 
    <%- include("partials/head/css") %> 
    <%- include("partials/head/title", { subtitle: "Tous les Pokemons !" }) %> 
</head>
<body>
    <%- include("partials/header") %> 

    <main>
        <h2><strong>Liste des Pokemons</strong> - 1ère génération</h2>
        <section id="pokemons-list-container">
            <% for (const pokemon of pokemons) { %>
                <article class="pokemon-card">
                    <div class="pokemon-card-header">
                        <h3><%=pokemon.nom%></h3>
                        <p>#<%=pokemon.id%></p>
                    </div>
                    <img src="/images/<%=pokemon.id%>.png" alt="<%=pokemon.nom%>" class="pokemon-card-img">
                    <button class="button-details-pokemon">
                        <a href="/pokemons/<%=pokemon.id%>">En savoir +</a>
                    </button>
                </article>
            <% } %>

        </section>
    </main>

    <%- include("partials/footer") %> 
</body>
</html>
